body {
  width: 80%;
  margin: auto;
}


h1 {
  font-family: 'Helvetica', 'arial', sans-serif;
  font-size: 8rem;
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: red;
  text-align: right;
  width: 30%;
}

h1#ok {
  position: absolute;
  z-index: 3;
  color: orange;
  opacity: 0.7;
}

h1#cool {
  position: absolute;
  z-index: 1;
  color: blue;
  opacity: 1;
  /*text-align: right;
  width: 49%;*/
}

p {
  position: relative;
  top: 300px;
  width: 40%;
  font-size: 1.3rem;
  line-height: 1.4;
}