body {
  background-color: #000;
  margin: auto;
  font-family: 'Lora', serif;
}

.section {
  margin: auto;
}

hr {
  border: none;
  height: 30px;
  width: 75%;
  margin: auto;
  background-image: url(https://cdn.glitch.com/055eb7aa-bb22-412e-861e-7b9a86a1293f%2Fscribble2.gif?1524602351942);
  background-size: contain;
  opacity: 0.7;
}

.dropcap {
  color: #F00;
  font-size: 5rem;
  float: left;
  line-height: 60px;
  padding: 10px 10px 10px 10px;
  margin: 0 10px 5px 0;
  border: 1px solid #F00;
}

nav {
  padding: 3px 3px 15px 3px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  margin-right: 3%;
  height: 30px;
  margin-top: 0;
  float: right;
}

nav ul {
  list-style: none;
  text-align: right;
  font-size: 1.4rem;
  font-style: italic;
}

nav ul li {
  padding-top: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #FFF;
  padding: 10px;
  margin: 0 10px 0 10px;
}

/*
====================================================
      landing section and section dividers
====================================================
*/

#open {
  height: 80vh;
  width: 100%;
  background: #000;
  top: -15px;
  position: relative;
  display: flex;
  align-items: center;
}

#headline {
  position: relative;
  left: 8%;
  width: 70vw;
  margin-top: 40px;
}

#headline img {
  
  width: 50vw;
}

#open p {
  position: relative;
  width: 55%;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.6;
  color: #FFF;
  font-weight: 300;
  margin-top: 40px;
}

#open p a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #D00;
}


/*
====================================================
                 anxiety interaction
====================================================
*/

div#interaction {
  height: 95vh;
  position: relative;
  background-color: #000;    
}

div.interaction-module {
  width: 250px;
  height: 250px;
  color: #FFF;
  transition-duration: 0.5s;
}

div.interaction-module.hidden {
  opacity: 0;
  transition-duration: 0.5s;
}

#start {
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;
  z-index: 100;
  text-align: center;
}

#start.hidden {
  display: none;
}

#start p {
  color: white;
  text-align: center;
  position: relative;
  top: 40%;
}

#start p:hover {
  color: #DD0000;
  font-style: italic;
  font-size: 2rem;
  top: 37%;
  cursor: pointer;
}

#module-holder {
  padding-top: 40px;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.next {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 15px;
}

div.next-arrow {
  width: 10px;
  height: 10px;
  border-right: 3px solid #DD0000;
  border-top: 3px solid #DD0000;
  transform: rotate(45deg);
  margin-right: 20px;
  cursor: pointer;
  transition-duration: .5s;
}

div.next-arrow:hover {
  border-right: 3px solid #FFF;
  border-top: 3px solid #FFF;
}

.restart p {
  margin-bottom: 0;
  color: #DD0000;
  cursor: pointer;
  transition-duration: 0.5s;
}

.restart p:hover {
  color: #FFF;
}

#internal-monologue {
  position: relative;
  top: -50px;
  width: 50%;
  margin: auto;
  color: #ccc;
  font-style: italic;
}

#internal-monologue.down {
  top: 10px;
}
/* add captions to hover!!!!!!!!!!!*/


/*
====================================================
                       intro
====================================================
*/

div#intro p {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.6;
  color: #FFF;
  font-weight: 300;
}

#intro-first {
  padding-top: 40px;
}


/*
====================================================
                 student features
====================================================
*/

div#students {
  position: relative;
  height: 90vh;
  text-align: center;
  z-index: 1;
  width: 80%;
}

div#students div.portrait {
  margin-top: 80px;
  width: 30%;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

div.portrait img:hover {
  opacity: 0.5;
}

div.portrait p {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  font-size: 3em;
  position: relative;
}

#label-one {
 color: #D00;
}

#label-two {
  color: #9B6B26;
}

#label-three {
  color: #4DAA91;
}

div#labels p.hidden {
  display: none;
}

div#students div.portrait.left {
  float: left;
}

div#students div.portrait.right {
  float: right;
}

div#students div.portrait img {
  width: 100%;
}

div.student-text {
  background-color: #000;
  width: 100%;
  margin: auto;
  height: 600px;
  position: relative;
  z-index: 1;
  opacity: .0;
  transition-duration: 1.5s;
  overflow: hidden;
}

#story-one-text {
  top: 0;
}

#story-one-text.reveal {
  opacity: 1;
  top: -600px;
}

#story-two-text {
  top: -600px;
}

#story-two-text.reveal {
  opacity: 1;
  top: -1200px;
}


#story-three-text {
  top: -1200px;
}

#story-three-text.reveal {
  opacity: 1;
  top: -1800px;
}

div.student-text img {
  width: 33%;
  margin-left: 8%;
  float: left;
  position: static;
  top: 0;
}

div.student-text p.text {
  text-align: left;
  color: #FFF;
  width: 80%;
  float: right;
  font-size: 1rem;
  line-height: 1.6;
  margin: auto;
  margin-right: 8%;
  margin-bottom: 20px;
  top: 30px;
}

div.popup-text {
  height: 600px;
  overflow: scroll;
}

.close {
  color: #FFF;
  font-size: 2rem;
  position: absolute;
  top: 0;
  margin-top:0;
  background-color:#000;
  width: 100%;
  text-align: left;
  cursor: pointer;
}


/*
====================================================
               professional features
====================================================
*/

div#professionals {
  width: 100%;
  margin: auto;
  height: 100vh;
  position: relative;
  z-index: 10;
  background: linear-gradient(#000,#FFF);
  color: #FFF;
}

#professionals p {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

#pro-paragraphs {
  padding-top: 100px;
}

#pro-image {
  margin: auto;
  width: 60%;
}

#pro-image img {
  width: 100%;
}

/*
====================================================
                     wrap up
====================================================
*/

#wrapup {
  height: 100vh;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 10;
  background-color: #FFF;
  padding-top: 40px;
}

#wrapup p {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.6;
  color: #000;
  font-weight: 300;
}

#float-me-left {
  float: left;
  width: 45%;
  margin-left: 10%;
  
}

/*
====================================================
                         end 
====================================================
*/

#end {
  width: 100%;
  margin: auto;
  height: 20vh;
  position: relative;
  z-index: 10;
  background-color: #FFF;
  clear: both;
  top: 0px;
}

#end p {
  width: 70%;
  margin: auto;
  line-height: 1.6;
}

#end a {
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid #d00;
}

#end img {
  margin-bottom: 20px;
}